<div class="p-4" id="dashboard-container">
    <div class="container">

        <h2 class="mb-4">My Dashboard</h2>
        <form class="mb-4 mt-2 d-flex" action="/search" method="GET">
        <input type="text" class="form-control me-2" name="q" placeholder="Search for users" required>
        <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
        <a href="/profile" class="btn btn-outline-secondary">My Profile</a>


        <h5 class="text-muted mb-3">My Reservations</h5>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Lab</th>
                    <th>Date</th>
                    <th>Seat</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {{#each reservations}}
                <tr>
                    <td>{{lab}}</td>
                    <td>{{reservationDateTime}}</td>
                    <td>{{seatNumber}}</td>
                    <td>
                        <form action="/reservations/delete/{{_id}}" method="POST" style="display:inline;">
                            <button class="btn btn-sm btn-danger" type="submit">Cancel</button>
                        </form>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <div class="mt-3">
            <form action="/reservations/deleteAll" method="POST">
                <button class="btn btn-outline-danger me-2" type="submit">Cancel All My Reservations</button>
            </form>
        </div>

        

    </div>
</div>