<img src="/images/lab.png" class="img-header" alt="lab picture">

<div class="container text-center mt-5">
    <h1>Welcome to the Lab Reservation System</h1>
    <p class="lead">Group 4 - CCAPDEV</p>
</div>

<script src="/js/ui.js"></script>